<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HighLowWatchTimeStartHour" value="9"/>
    <add key="HighLowWatchTimeStartMin" value="15"/>
    <add key="HighLowWatchTimeEndMin" value="20"/>
    <add key="IntradaySquareOffHour" value="15"/>
    <add key="IntradaySquareOffMin" value="20"/>
    <add key="ProfitMargin" value="0.3"/>
    <add key="GapUpDownPickMax" value="4.0"/>
    <add key="GapUpDownPickMin" value="1.0"/>
    <add key="PicKStockWhosePriceMin" value="80"/>
    <add key="PicKStockWhosePriceMax" value="1800"/>
  </appSettings>
</configuration>